body {
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 14px;
    font-family: 'Merriweather', serif;
    /* background-color: wheat; */
}

h1 {
    font-weight: bold;
}

.btn-default {
    border-radius: 50px;
    background-color: white;
}

.btn-default:hover {
    background-color: black;
    color: white;
}

.navbar a {
    color: #061D25;
    font-size: 18px;
}

.navbar a:hover {
    color: yellowgreen;
}

.home {
    text-align: center;
    background: url("photo.jpg") no-repeat;
    background-size: cover;
}

.single-post {
    text-align: center;
    background: url("doe.jpg") no-repeat;
    background-size: cover;
}

.about-image {
    text-align: center;
    background: url("about.jpg") no-repeat;
    background-size: cover;
}

.gallery-image {
    text-align: center;
    background: url("gallery.jpg") no-repeat;
    background-size: cover;
}

.contact-image {
    text-align: center;
    background: url("oldcar.jpg") no-repeat;
    background-size: cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.centered h1 {
    font-size: 50px;
}

.centered p {
    /* font-weight: bold; */
    font-size: 18px;
    color: #bfba55;
}

.footer {
    background-color: black;
    color: white;
}

.footer {
    background: #061D25;
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: yellowgreen;
}

a:hover {
    color: yellowgreen;
    text-decoration: none;
}

blockquote {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

.form-group:hover>:nth-child(1) {
    border: 1px solid yellowgreen;
}

.col h2,
h3 {
    font-weight: bold;
}

h2,
h6 {
    font-weight: bold;
}

.text h3 {
    color: black;
}

.text h3:hover {
    color: #bfba55;
}

.single {
    background-color: white;
    color: black;
    border: 1px solid gainsboro;
}

.single:hover {
    background-color: darkgoldenrod;
    color: white;
    border: 1px solid darkgoldenrod;
}

p {
    font-size: 14px;
}

.icon-image .fab {
    border: 1px solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 14px;
}

.gallery .img-gallery {
    position: relative;
    top: 0;
    transition: all ease-in 1s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.gallery .img-gallery:hover {
    top: -5px;
}

.go-top {
    border: 1px solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    text-align: center;
    bottom: 2em;
    right: 2em;
    color: black;
    font-size: 18px;
    font-weight: bold;
}


/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */


/* .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} */


/* Style the icon bar links */


/* .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
} */


/* Style the social media icons with color, if you want */


/* .icon-bar a:hover {
    background-color: #000;
} */


/* .facebook {
    background: #3B5998;
    color: white;
} */


/* .twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.email {
    background: gray;
    color: white;
}

.share {
    background-color: greenyellow;
    color: white;
} */


/* .messenger {
    background: #55ACEE;
    color: white;
} */